@media (max-width: 991px){
    .sidebar{
        background-color: #c6f7c6bb;
        backdrop-filter: blur(10px);
    }
}
/* navbar */


.navbar{
    background-color: #F5F7FA !important;
    font-family: 'Inter' !important;
}
.navbar-brand{
    font-family: 'Playfair Display' !important;
}
.active{
    color: #01C608 !important;
    border-bottom: 2px solid #01C608;
    font-size: 16px !important;
    cursor: pointer;
}
.nav-link{
    color: #18191F;
    font-size: 16px !important;
    cursor: pointer;
}
.nav-link:hover{
    color: #01C608 !important;
    border-bottom: 2px solid #01C608 !important;
}
.btn-login{
    color: #01C608 !important;
    font-size: 14px !important;
}
.btn-sign{
    background-color: #01C608 !important;
    font-size: 14px !important;
}

/* main */
.main{
    background-image: url("../Assets/image.svg");
    background-repeat: no-repeat;
    background-position: center !important;
}
.btn-regi{
    background-color: #01C608 !important;
    color: #FFFFFF !important;
}

.mycolor{
    color: #01C608 !important;
}

.about-title{
    color: #4CAF50; 
}  

.blog-section{
    background-color: #EEEE;
}
.footer {
    background-color: #222;
    color: #DADADA !important;
}
.footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif !important;
}
.footer p{
    color: #F5F7FA !important;
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif !important;
}
.footer li a{
    font-family: 'Inter', sans-serif !important;
}
.footer li a:hover{
    color: #01C608 !important;
}
.btn-lght{
    width: 400px !important;
    background-color: #FFFFFF !important;
}
.footer .input-group {
    max-width: 400px;
    color: #b8b1b1 !important;
}
.footer .form-control{
    background: none !important;
}
.footer .form-control::placeholder{
    color: #b8b1b1 !important;
}